@font-face {
  font-family: "iconfont"; /* Project id 3284248 */
  src: url('//at.alicdn.com/t/font_3284248_yjqheq2bn3.woff2?t=1651048409024') format('woff2'),
       url('//at.alicdn.com/t/font_3284248_yjqheq2bn3.woff?t=1651048409024') format('woff'),
       url('//at.alicdn.com/t/font_3284248_yjqheq2bn3.ttf?t=1651048409024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e7d7";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-warning-circle-fill:before {
  content: "\e849";
}

.icon-adduser:before {
  content: "\e7ae";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-slack-circle-fill:before {
  content: "\e889";
}

.icon-zengjia:before {
  content: "\e848";
}

.icon-check-circle-fill:before {
  content: "\e844";
}

.icon-close-circle-fill:before {
  content: "\e845";
}

.icon-frown-fill:before {
  content: "\e846";
}

.icon-smile-fill:before {
  content: "\e847";
}

.icon-location-fill:before {
  content: "\e868";
}

.icon-error-fill:before {
  content: "\e86f";
}
