@font-face {
  font-family: "iconfont"; /* Project id 3284248 */
  src: url('//at.alicdn.com/t/font_3284248_7fy1bgzn275.woff2?t=1649084825128') format('woff2'),
       url('//at.alicdn.com/t/font_3284248_7fy1bgzn275.woff?t=1649084825128') format('woff'),
       url('//at.alicdn.com/t/font_3284248_7fy1bgzn275.ttf?t=1649084825128') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\eb37";
}

.icon-location-fill:before {
  content: "\e868";
}

.icon-error-fill:before {
  content: "\e86f";
}

.icon-fengxianyujing:before {
  content: "\e608";
}

.icon-bg-warning:before {
  content: "\e642";
}

.icon-qingchu:before {
  content: "\e713";
}

.icon-paizhao:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e62e";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-wode-gerenziliao:before {
  content: "\e63c";
}

.icon-wode-bangdingguanxi:before {
  content: "\e645";
}

.icon-wode-guanyuwomen:before {
  content: "\e646";
}
