@font-face {
  font-family: "iconfont"; /* Project id 3284248 */
  src: url('//at.alicdn.com/t/font_3284248_5z3977umzu3.woff2?t=1650874645487') format('woff2'),
       url('//at.alicdn.com/t/font_3284248_5z3977umzu3.woff?t=1650874645487') format('woff'),
       url('//at.alicdn.com/t/font_3284248_5z3977umzu3.ttf?t=1650874645487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-slack-circle-fill:before {
  content: "\e889";
}

.icon-zengjia:before {
  content: "\e848";
}

.icon-check-circle-fill:before {
  content: "\e844";
}

.icon-close-circle-fill:before {
  content: "\e845";
}

.icon-frown-fill:before {
  content: "\e846";
}

.icon-smile-fill:before {
  content: "\e847";
}

.icon-faxian:before {
  content: "\e86e";
}

.icon-error:before {
  content: "\eb37";
}

.icon-location-fill:before {
  content: "\e868";
}

.icon-error-fill:before {
  content: "\e86f";
}

.icon-paizhao:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e62e";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-wode-gerenziliao:before {
  content: "\e63c";
}

.icon-wode-bangdingguanxi:before {
  content: "\e645";
}

.icon-wode-guanyuwomen:before {
  content: "\e646";
}
