@font-face {
  font-family: "iconfont"; /* Project id 3284248 */
  src: url('//at.alicdn.com/t/font_3284248_69h6uzbc2qg.woff2?t=1648608871421') format('woff2'),
       url('//at.alicdn.com/t/font_3284248_69h6uzbc2qg.woff?t=1648608871421') format('woff'),
       url('//at.alicdn.com/t/font_3284248_69h6uzbc2qg.ttf?t=1648608871421') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e62e";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-wode-gerenziliao:before {
  content: "\e63c";
}

.icon-wode-bangdingguanxi:before {
  content: "\e645";
}

.icon-wode-guanyuwomen:before {
  content: "\e646";
}
